.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}


.white-button,
.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 21rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  
}

.blue-button {
  background-color: hsl(235, 85%, 65%);
  border: 0;
  color: #fff;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.blue-button:hover,
.white-button:hover,
.black-nitro-button:hover,
.green-nitro-button:hover {
  /* transform: translateY(1px); */
  border: 0;
  background-color: hsl(235, 55%, 55%);

}